<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cameron Institute</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>

    <header>
        <h1><a href="/home" style="color:#FDB515;">Cameron Institute</a></h1>
        <h2>About 🏠</h2>
    </header>

    <div>
        <!-- Your main content goes here -->
        <p>the end :)</p>
    </div>

</body>
</html>