body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    text-align: center;
}

header {
    background-color: #003262;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

menu {
    color: #000000;
    border-right: 1px solid #ccc;
    padding: 50px;
}

h1 {
    margin: 0;
    color: #FDB515;
}

h2 {
    margin: 0;
    color: #fff;
}

a {
    color: white;
    text-decoration: none;
}

#home_img {
    float: left
}

.center {
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 100px;
    padding-bottom: auto;
}