<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cameron Institute</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>

    <header>
        <h1>Cameron Institute</h1>
        <h2><a href="/about">About 🏠</a></h2>

    </header>

    <div class="center">
        <img src="https://static.wixstatic.com/media/2cd5c7_235bb6dc65f547f48d335da0ef9bd633~mv2.jpg/v1/fill/w_402,h_500,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Cameron%20Institute%20-%20Spring%202021.jpg" id="home_img">
        <!-- Your main content goes here -->
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita perspiciatis fuga quae at minus cum. Consequatur vero ducimus fugit? Quibusdam quas velit veniam minima amet non a nam aut officia.</p>
        <button type="button" onclick="window.location.href='/categories'">Click To Start</button>
    </div>

</body>
</html>