<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cameron Institute</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>

    <header>
        <h1>Cameron Institute</h1>
        <h2><a href="/about">About 🏠</a></h2>

    </header>

    <div>
        <!-- Your main content goes here -->
        <p>Home Page!!</p>
        <p><a href="/categories" style="color: black">Click ME for categories</a></p>
    </div>

</body>
</html>