<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cameron Institute</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>

    <header>
        <h1><a href="/home" style="color:#FDB515;">Cameron Institute</a></h1>
        <h2><a href="/about" style="color: white">About 🏠</a></h2>
    </header>

    <div>
        <!-- Your main content goes here -->
        <form action="{{ url_for('sub_cat', cat=category) }}" method="POST">
            <p>
                {% for sub in sub_cats %}
                <button type="submit" name="filter" value="{{ sub }}">
                    {{ sub }}
                </button>
                    {% endfor %}
            </p>
        </form>
    </div>
</body>
</html>